.bottomNav {
  position: fixed;
  bottom: 40px;
}

.videoCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 45px;
  padding: 40px;
  background-color: #daf44a;
  border: solid 3px white;
  border-radius: 50px;
}

.videoContainerDiv {
  color: #04242c;
  margin-top: 90px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.takeNoteBtn {
  margin: 15px;
  background-color: #6e99ae;
  color: white;
  border-radius: 7px;
  margin-top: 35px;
  border: solid 1px #04242c;
}

.takeNoteBtn:hover {
  background-color: #335363;
  color: white;
  border: solid 2px white;
}


.videoShow{
  margin-top: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.noteForm{
  display: flex;
  flex-direction: column;
}

.selectDropdown {
  width: 120px;
  background-color: #cfd8d7;
}

.noteWithBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #cfd8d7;;
  border-bottom: solid 1px #6e99ae;

  color: black;
  padding: 5px;
  max-height: 40px;
}

.textArea {
  overflow-y: auto;
  background-color: #cfd8d7;
}

.takeNotes {
  text-shadow: 6px 6px 6px black;
  color: #6e99ae;
  text-align: center;
  margin-top: 30px;
}

.scrollContainer {
  overflow-y: auto;
  max-height: 20vh;
}

#homeLink:hover {
  color: #8ea604;
}

.nav-link {
  color: #04242c;
  font-size: 25px;
}

.offcanvas-title {
  font-size: 30px;
}

.nav-link:hover {
  color: #8ea604;
}

.dropdown-item {
  font-size: 22px;
}

.dropdown-item:hover {
  background-color: #8ea604;
  color: #04242c;
}

.edit {
  text-decoration: none;
  border: none;
  background-color: #cfd8d7;
  color: #38182f;
  margin: 0 5px;
}

.edit:hover {
  color: #8ea604;
}

.delete {
  text-decoration: none;
  border: none;
  background-color: #cfd8d7;
  color: #38182f;
}

.delete:hover {
  color: red;
}

.addBtn {
  border: none;
  margin-bottom: 40px;
  color: #38182f;
  /* font-weight: bold; */
}

.navbar-toggler {
  background-color: #6e99ae;
  border: solid 2px #04242c;
}

.navbar-toggler:hover {
  border: none;
}

#lines {
  color: white;
}

h2 {
  font-size: 30px;
}

img {
  margin-top: 20px;
}

.navbar-brand {
  font-family: 'Titan One', cursive;
  font-size: 40px;
}

.navbar-brand:hover {
  color: #8ea604;
}

.LoginMessage {
  color: #04242c;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vw;
  margin-top: 180px;
  margin-right: 0;
  background-color: #cfd8d7;
  text-align: center;
  padding: 40px;
}

#ostrich {
  margin: 0 0 0 8px;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

iframe {
  margin: 40px 0;
  border: solid 1px #cfd8d7;
}

#introMsg {
  margin: 30px;
  font-size: 25px;
}

#loginNow {
  font-size: 28px;
}

#welcome {
  font-size: 30px;
}